/**
 * This file contains stylesheet data pertaining to the menu and similar windows.
 */

body {
    padding: 0;
    margin: 0;
    background: transparent;
    font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
	cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

canvas {
    display: block;
}

#block {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

/* None-menu pause screen (ESC) */
#splash {
    width: 100%;
    height: 100%;

    display: -webkit-box;
    display: -moz-box;
    display: box;

    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;

    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;

    color: #ffffff;
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.95);
    text-align: center;

    cursor: pointer;
}

/**
 * Start of loading screen
 */

#loadingTexturesOverlay {
	overflow: hidden;
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: black;
    z-index: 1000;
    color: white;
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.95);
}

#loadingTexturesHeader {
    text-align: center;
    padding-top: 22%;
	font-size: 32px;
}

#loadingTexturesSplash {
	text-align: center;
	top: 1%;
	font-size: 24px;
}

/**
 * End of loading screen
 */


/**
 * Start of menu main screen
 */
 
#menu-overlay {   
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 1;
}

#menu-box {
	transform: translate(50%, 50%);
	position: fixed;
    width: 50%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid white;
    border-radius: 30px;
}

/* Left half */
#menuLeft {
	height: 100%;
    display: inline-block;
    width: 50%;
    position: absolute;
}

#menuButtons {
	top: 50%;
	width: 100%;
	position: absolute;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

#shopBox {
    margin-top: 4%;
}

.pauseButton {
    width: 90%;
    margin-left: 5%;
    height: 8%;
    margin-bottom: 4%;
    background-color: rgba(230, 230, 230, 0.7);
    font-family: 'Sarpanch', sans-serif;
    font-size: 27px;
    padding: 4px 0px;
    text-align: center;
    border: 4px ridge;
    border-color: rgba(0, 153, 204, 0.7);
    border-radius: 9px;
    box-shadow: inset 1px 1px 6px -2px #00ace6, inset 4px 4px 10px -6px #cccccc, 5px 3px 71px -11px rgba(255,255,255,0.7);
}

.pauseButton:hover {
	background-color: #cccccc !important;
	border-color: rgba(255, 255, 255, 0.8) !important;
    transition: all 0.2s ease-out !important;
}

/* Right half */

#menuRight {
	height: 100%;
	margin-left: 50%;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
}

.outerScrollbar {
	overflow: hidden;
}

.innerScrollbar {
	margin-right: -16px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.invertedInnerScrollbar {
	direction: rtl;
	margin-left: -16px;
	overflow-y: scroll;
	overflow-x: hidden;
}

/**
 * End of menu main screen
 */
 
 
/**
 * Start of shop
 */

#shopTable {
	width: 90%;
	margin-top: 4%;
	margin-bottom: 4%;
	margin-left: 5%;
	margin-right: 5%;
}

#shopTable tr {
	height: 100px;
	width: 100%;
}

.shopTableTd1 {
	position: relative;
	width: 100px;
}

.shopItemPic {
	margin-left: auto;
    margin-right: auto;
	border: 4px ridge;
    border-color: rgba(0, 153, 204, 0.7);
    border-radius: 9px;
    box-shadow: inset 1px 1px 6px -2px #00ace6, inset 2px 2px 10px -6px #cccccc, 5px 3px 71px -11px rgba(255,255,255,0.5);
	border-radius: 15px;
	top: 0px;
	bottom: 0px;
	width: 100px;
	height: 100px;
}

.shopItemPic:hover {
	background-color: rgba(0, 0, 0, 1);
	transform: scale(0.95);
}


.shopItemDesc {
	margin-left: auto;
    margin-right: auto;
    color: white;
	width: auto;
	height: 100px;
	border-style: solid;
	border-color: black;
	background: rgba(0, 0, 0, 0.8);
}

#costSign {
	color: yellow;
	display: inline;
}

.costUpgrade {
	margin-left: auto;
    margin-right: auto;
	margin-bottom: 0px;
	color: yellow;
	display: inline;
}
 
/**
 * End of shop
 */
 
 
/**
 * Start of highscore
 */

 #menuHighscore {
    font-size: 15px;
    font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    width: 100%;
    height: 100%;
    padding: 6px;
    border: 2px solid transparent;
    top: 50px;
    overflow-y: scroll;
}
 #menuHighscore .row{
	font-size: 12px;
    margin: auto;
    padding: 0;
    width: 100%;
    text-align: left;
 }
 
#headingHighscore {
	font-size: 20px;
	text-align: center;
	margin-bottom: 5%;
	margin-top: 3%;
	font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
	font-weight: bold;
	text-shadow: 1px 1px rgba(255, 255, 255, 0.2);
}

#menuHighscoreHead{
	text-align: left;
	font-size: 16px;
	width: 100%;
	border: 2px solid transparent;
	height: 32px;
	font-style: italic;
}

.menu-highscore-table-nr {
	display : inline;
}

.menu-highscore-table-points {
	display : inline;
}

.menu-highscore-table-player {
	display : inline;
}

.menuHighscoreBody{
	width : 100%;
}


.menuHighscoreBody .table-nr{
	display : inline;
}

.menuHighscoreBody .player-nr{
	display : inline;
}

.menuHighscoreBody .points-nr{
	display : inline;
}


/**
 * End of highscore
 */
 
 
/**
 * Start of milestones
 */

#milestonesHeading {
    font-size: 20px;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 3%;
    font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.2);
}

.achievementBlock {
    border-radius: 5px;
    padding: 5px;
    width: 70%;
    height: 12%;
    background-color: rgba(124, 124, 124, 0.4);
    margin-left: 15%;
    margin-bottom: 5%;
}

.achievement {
    width: 90%;
    height: 12%;
}

.achievement .icon {
    width: 20%;
}

.achievement .type {
    width: 80%;
    padding-left: 4%;
}

.achievement .bar {
    width: 80%;
    padding-left: 4%;
    padding-bottom: 3%;
}

.achievementIcon {
    position: relative;
    width: 80%;
    border-radius: 30px;
}

.achievementType {
    font-size: 11px;
}

.achievementProgressBar {
    position: relative;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    height: 7px;
}

.currentProgress {
    width: 20%;
    background-color: rgba(0, 153, 204, 0.7);
    box-shadow: inset 3px 3px 6px -2px #00ace6, inset 5px 5px 10px -6px #cccccc;
    position: relative;
    border-radius: 10px;
    height: 7px;
}

.unlockDescription {
    position: relative;
    margin-left: 23%;
    font-size: 10px;
    display: none;
}

/**
 * End of milestones
 */
 
 
/**
 * Start of options
 */
 
#optionContainer {
	text-align: left;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

#optionsHeader {
	text-align: center;
	opacity: 0.5;
    margin-bottom:3%;
}

#crossContainer {
	width: auto;
	height: auto;
	border-radius: 5px;
	border-style: solid;
	background-color: rgba(0, 0, 0, 0.9);
}

.crossPic {
	opacity: 1;
	border: 2px ridge;
	background-color: transparent;
	border-radius: 2px;
	border-color: rgba(0, 153, 204, 0.7);
	width: 50px;
	height: 50px;
	padding: 3px;
	margin: 2px;
}

.crossPic:hover {
	transform: scale(1.2);
}

/*
#volumeBar {
	height: 25px;
	width: 200px;
	border: 1px solid black;
	position: relative;
}

#volumeSlider {
	width: 1px;
	height: 100%;
	background-color: red;
	top: 0px;
	left: 0px;
	position: absolute;
	cursor: pointer;
}
*/

/* To do: Fix design */
#soundOptions {
   // display:inline;
}

.soundOptionsTable {
    width:90%;
    //margin-left:5%;
}

.soundOptionsTable input[type=range] {
    width:90%;
}

#soundValue {
    font-size:12px;
}

#advancedSoundHeading  {
    font-size:13px;
    text-align:center;
    opacity: 0.5;
    margin-bottom:4%;
}

#advancedSoundOptions {
    display:none;
    margin-top:3%;
    margin-bottom:4%;
    font-size:11px;
}

.ao {
    font-size:10px;
    text-align:right;
}
.ao:hover {
    color: rgba(255,255,255,0.7);
}

#blablubb {
     border:2px solid ridge;
    border-radius: 20px;
}

.advancedSoundOptionsTable {
    width:80%;
    margin-left:10%;
}

.advancedSoundOptionsTable td {
   // width: 10%;
}

.advancedSoundOptionsTable tr {

}

input[type=range]::-moz-range-track {
    margin-top: 20px;
}

/**
 * End of options
 */
 
 
/**
 * Start of gameover screen
 */
 
#gameOverBox {
	position: fixed;
	border-style: solid;
	border-color: white;
	border-radius: 30px; 
	text-align: center;
	top : -1000px;
	left: 20%;
	width: 60%;
	height: 300px;
	background-color: rgba(255, 255, 255, 0.2);
}

#gameOverText1 {
	color : #ff3030;
	text-shadow: 3px 2px #000000;
	font-size: 80px;
}

#gameOverBox2 {
	margin-top: 20px;
	font-size: 30px;
	color : white;
}

#gameOverText2 {
	display: inline;
}

#gameOverText3 {
	display: inline;
}

#gameOverButton {
	margin-top: 50px;
    border-radius: 38px;
    text-shadow: 4px 2px 13px #666666;
    color: #ffffff;
    font-size: 20px;
    background: #dbdbdb;
    padding: 10px 20px 10px 20px;
}

#gameOverButton:hover {
  background: #d1d1d1;
  background-image: linear-gradient(to bottom, #d1d1d1, #b0b0b0);
  text-decoration: none;
}

/**
 * End of gameover screen
 */