body {
	cursor: default;
    padding: 0;
    margin: 0px;
    background: black;
	
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

canvas{
    display: block;
}

#block {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

#splash {
    width: 100%;
    height: 100%;

    display: -webkit-box;
    display: -moz-box;
    display: box;

    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;

    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;

    color: #ffffff;
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.95);
    text-align: center;

    cursor: pointer;

}

#menu-overlay {   
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 1;
    /*background-color: white;*/
    /*z-index: 100;*/
}

/* HIGHSCORETABELLE */

#highscore{
}

#headingHighscore {
	font-size: 20px;
	text-align:center;
	margin-bottom: 5%;
	margin-top: 3%;
	font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
	font-weight:bold;
	text-shadow: 1px 1px rgba(255,255,255, 0.2);
}

#menu-highscore-table {
    font-size: 15px;
    font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    width: 100%;
    height: 100%;
    padding: 6px;
    border: 2px solid transparent;
    //background-color: rgba(255, 255, 255, 0.4);
    //position: absolute;
    top: 50px;
    //margin-top: -10px;
    // background-color:yellow;
    overflow: scroll;
}

#menu-highscore-table thead {
	border: 2px solid transparent;
	height: 32px;
        //font-size: 21px;
	font-style:italic;
}

#menu-highscore-table td, th {
    //padding: 5px;
    //background-color: rgba(0, 255, 153, 0.5);
    //background-color: rgba(255, 255, 255, 0.5);
    //border: 2px solid rgba(255, 255, 230, 0.3);
      box-shadow: 4px 3px 71px -11px rgba(255,255,255,0.8);
      text-shadow: 1px 1px rgba(255,255,255, 0.2);
}

#menu-highscore-table th {
    font-weight: bolder;
}


#menu-highscore-table tr {
	border: 2px solid rgba(255, 255, 230, 0.3);
}

.menu-highscore-table-nr {
    //width: 120px;
    width: 10%;
}

.menu-highscore-table-points {
    width: 30%;
}

.menu-highscore-table-player {
    width:60%;
}

/* BUTTONS LINKS */

#menu-box {
    margin-left: 25%;
    margin-top: 12%;
    width: 50%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid white;
    border-radius: 30px;

    overflow: hidden;
}

#menuArea {
    display: inline-block;
    width: 25%;
    height:50%;
    position: absolute; /* absolute bei Pascal */
    //vertical-align: center;
    
}

#menuButtons {
	width: 100%;
	margin-top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

/*
#rightMenu {
    position: absolute;
    overflow-y:auto;

	background-color: transparent;
	width:50%;
	height:100%;
	margin-left:50%;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
} 
*/

#pauseButton {
	//cursor: default;
    width: 90%;
    margin-left:5%;
    height: 8%;
    margin-bottom: 4%;
    background-color: rgba(230, 230, 230, 0.7);
	//rgba(230, 230, 230, 0.6);
	//rgba(204, 204, 204, 0.6);
    font-family: 'Sarpanch', sans-serif;
    font-size: 27px;
    padding: 4px 0px;
    text-align: center;
    border: 4px ridge;
    border-color: rgba(0, 153, 204, 0.7);
    border-radius: 9px;
    //transform: skewy(2deg);
    //-webkit-box-shadow: 5px 2px 71px -11px rgba(255,255,255,0.4);
    box-shadow: inset 1px 1px 6px -2px #00ace6, inset 4px 4px 10px -6px #cccccc, 5px 3px 71px -11px rgba(255,255,255,0.7);
    //box-shadow: 4px 3px 71px -11px rgba(255,255,255,0.5);
}

#pauseButton:first-child {
    margin-top: 3%;

}

#pauseButton:hover {
	background-color: #cccccc;
	border-color: rgba(255, 255, 255, 0.8);
    transition: all 0.2s ease-out;
}

/* rechte Seite */

#rightMenu {
	//background-color: rgba(255, 255, 255, 0.5);
	width:50%;
	height:100%;
	margin-left:50%;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	
    overflow-y: scroll;
    
	//position:absolute;
}