/**
 * Despite its name, this file mostly contains stylesheet data related to the HUD.
 */

/**
 * Start of persistent HUD
 */

#scoreBox {
	position: fixed;
	top: 20px; 
	left: 20px;
	width: 100px;
	color: yellow;
	text-align: left;
	line-height: 26.4px;
}

#score {
	font-size: 30px;
}

#moneyBox {
	font-size: 20px;
}

#money {
	display: inline;
}

#ammoBox {
	position: fixed;
	top: 20px;
	right: 20px;
	width: 80px;
	height: 80px;
	color: yellow;
	float: none;
}

#currentAmmo {
	position: fixed;
	top: 15px;
	right: 55px;
	font-size: 30px;
	text-align: right;
}

#ammoDivider {
	position: fixed;
	top: 35px;
	right: 50px;
	font-size: 10px;
}

#maxAmmo {
	position: relative;
	top: 20px;
	left: 52px;
	font-size: 14px;
	text-align: left;
}

.ammopic {
	margin-top: 10px;
	position: fixed;
	top: 0px;
	bottom: 0px;
	width: 80px;
	height: 80px;
}



#bg1 {
	z-index: 2;
	transform: skewX(45deg);
	background-image: url(../textures/GUImetall.jpg);
	position: fixed;
	left : -40px;
	bottom: -4px;
	height: 50px;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    width: 40%;
}

#bg2 {
	z-index: 2;
	transform: skewX(-45deg);
	background-image: url(../textures/GUImetall.jpg);
	position: fixed;
	right : -40px;
	bottom: -4px;
	height: 50px;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    width: 40%;
}

#hpBox {
	position: fixed;
	left: 60px;
	right: 20px;
	bottom: 15px;
	height: 20px;
	border: 1px solid black;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.5);
}

#hpBoxValue {
	height: 100%;
	border-radius: 10px;
}

#hpTextBox {
	position: fixed;
	left: 50%;
	bottom: 33%;
	color: white;
	text-align: center;
	font-weight: bold;
	text-shadow: 2px 2px #000000;
	transform: skewX(-45deg);
}

#currentHP {
	display: inline;
}

#hpDivider {
	display: inline;
}

#maxHP {
	display: inline;
}

#shieldBox {
	position: fixed;
	left: 20px;
	right: 120px;
	bottom: 15px;
	height: 20px;
	border: 1px solid black;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	transform: rotate(180deg);
}

#shieldBoxValue {
	height: 100%;
	width: 50%;
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
}

#shieldTextBox {
	position: fixed;
	left: 45%;
	top: 3%;
	color: white;
	text-align: center;
	font-weight: bold;
	text-shadow: 2px 2px #000000;
	transform: rotate(180deg) skewX(45deg);
}

#currentShield {
	display: inline;
}

#shieldDivider {
	display: inline;
}

#maxShield {
	display: inline;
}

#speedBar {
	transform: rotate(180deg);
	position: fixed;
	right: 15px;
	bottom: 60px;
	width: 15px;
	height: 180px;
	background-color: black;
	opacity: 0.5;
	border: 1px solid black;
	border-radius: 10px;

}

#speedBarValue {
	transform: rotate(180deg);
	position: relative;
	width: 100%;
	height: 0%;
	border-radius: 10px;
}

#speedBox {
	position: fixed;
	transform: skewX(45deg);
	color: yellow;
	font-size: 30px;
	right: 47px;
	bottom: 18%;
	text-align: right;
}

#powerUps {
	position: fixed;
	height: 30px;
	bottom: 72px;
	right: 40px;
}
#powerUpIcons img {
	height: 45px;
	width: auto;
	display: inline;
	margin-right: 5px;
}

.inactive {
	opacity: 0.4;
}

#timerBox {
	z-index: 1;
	position: fixed;
	color: yellow;
	width: 100%;
	bottom: -25px;
	height: 50px;
	border-top: solid;
	text-align: center;
	border-color: white;
	background-color: rgba(255, 255, 255, 0.2);
}

#timerBoxText {
	display: inline;
}

#timerBoxMin {
	display: inline;
}

#timerBoxDiv {
	display: inline;
}

#timerBoxSec {
	display: inline;
}

/**
 * End of persistent HUD
 */
 
 
/**
 * Start of splash displays
 */
 
#levelDisplay {
	position: fixed;
	left: 40%;
	width: 20%;
	height: 30px;
	background-color: rgba(255, 255, 255, 0.4);
	border-style: ridge;
	border-color: white;
	border-width: 3px;
	border-radius: 15px / 50px;
	text-align: center;
	opacity: 0;
}

#levelText {
	color: yellow;
	width: auto;
	margin-bottom: 36px;
	font-size: 28px;
	line-height: 26.4px;
}

#currentLevel {
	margin-top: -30px;
	font-size: 36px;
	color: yellow;
}

#milestoneDisplay {
	position: fixed;
	top: 100px;
	right: -400px;
	width: 200px;
	height: auto;
	
	padding: 10px;

	color : yellow;
	background-color: rgba(255, 255, 255, 0.4);
	border-style: ridge;
	border-color: white;
	border-width: 3px;
	border-radius: 15px;
	text-align: center;
	opacity: 1;
}

#milestoneNote {
	margin: 20px;
	font-size: 16px;
	line-height: 26.4px;
}

#powerUpPickUp {
	position: fixed;
	bottom: -50px;
	left: 10px;
	width: auto;
	height: auto;
	
	padding: 10px;

	color : yellow;
	background-color: rgba(100, 100, 100, 0.1);
	border-style: ridge;
	border-color: yellow;
	border-width: 1px;

	text-align: center;
	opacity: 1;
}

/**
 * End of splash displays
 */