/* responsive für kleine Geräte: verstecke highscore tabelle */
@media only screen and (max-width: 1024px) {
    #overlay-highscore {
	    display: none;
    }
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
}

.main-menu-overlay {
    height: 50%;
    margin: 15% 25px 0 25px;
    text-align: center;
    /*
    border: 2px solid white;
    padding: 25px;
    border: 4px solid orange;
    border-radius: 25px;
    background-color: rgba(255, 153, 0, 0.5);
    */
    color:white;
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.95);
}

.main-menu-overlay input, button {
    color: black;
}

#overlay-menu {
    width: 20%;
    position: absolute;
    opacity: 1;
}

#overlay-highscore {
    width: 30%;
    opacity: 1;
    position: absolute;
    right:0;
}

#overlay-highscore .row {
    font-size: 12px;
    margin: auto;
    padding: 0;
    width: 100%;
    text-align: center;
}

#overlay-highscore .highscore-header {
    margin-bottom: 10px;
    font-size: 20px;
}

.highscore-header > div{
    text-align: center;
}

.highscore-body {
    text-align: center;
	display:inline;
}

input#player {
    text-align: center;
}

#loading-overlay {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: black;
    z-index: 1000;
    color: white;
    text-align: center;
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.95);
    background-image: url('../textures/loading-background.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#loading-text {
    text-align: center;
    padding: 25%;
}

#controls-table {
    font-size: 1.5em;
    /*margin: 0 auto;*/
    text-align: left;
}
#controls-table td {
    padding: 20px;
}
#controls-table-container {
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.95);
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 50px;
    padding-right: 50px;
}
#tutorial-text {
    font-size: 1.5em;
    text-align: center;
    line-height: 50px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.95);
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 50px;
    padding-right: 50px;
}
#tutorial-text-list li {
    text-align: left;
}
#tutorial-layout {
    padding: 50px;
}
span.tutorial-header {
    text-align: center;
    font-size: 36px;
}
#space-game-header {
    font-size: 72px;
}
#tutorialClose {
    display:none;
    font-size: 24px;
}
