body {
    padding: 0;
    margin: 0;
}

#container {
    /*padding: 0;*/
    /*margin: 0;*/
    /*height: 100vh;*/
    /*width: 100%;*/
    /*color: white;*/
    /*background-image: url("../img/placeholder_background.jpg");*/
    /*background-repeat: space;*/
    /*background-size: auto 100%;*/
    border: 1px dashed black;
}

#form-container {
    margin: 50px;
}

#highscore-container {
    margin: 50px;
}

#highscore-container h1 {
    font-size: 24px;
}

#highscore-container table {

}

#highscore-container table, th, td {
    /*border: 1px solid black;*/
    width: 20em;
    text-align: left;
}
