/* responsive für kleine Geräte: verstecke highscore tabelle */
@media only screen and (max-width: 1024px) {
    #overlay-highscore {
        display: none;
    }
}



body {
    margin: 0;
    padding: 0;
    background-color: black;
}
.main-menu-overlay {
    width: 25%;
    height: 50%;
    margin: 15% 25px 0 25px;
    text-align: center;
    /*border: 2px solid white;*/
    /*padding: 25px;*/
    /*border: 4px solid orange;*/
    /*border-radius: 25px;*/
    /*background-color: rgba(255, 153, 0, 0.5);*/
    color:white;
}
.main-menu-overlay input, button {
    color: black;
}
#overlay-menu {
    position: absolute;
    opacity: 1;
}
#overlay-highscore {
    opacity: 1;
    position: absolute;
    right:0;
}
#overlay-highscore .row {
    font-size: 12px;
    margin: auto;
    padding: 0;
    width: 100%;
    text-align: center;
}
#overlay-highscore .highscore-header {
    margin-bottom: 10px;
}
.highscore-header > div{
    text-align: center;
}
.highscore-body {
    text-align: center;
}

input#player {
    text-align: center;
}